.webpages {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto auto auto auto auto;
}

iframe {
    padding: 30px;
    border: none;
    width: 380px;
    height: 680px;
    /*grid-column: 1/span 1;*/
}


p {
    margin: 30px;
    /*grid-column: 2/span 1;*/
    text-align: left;
}

