#container {

  width: 360px;
  height: 640px;
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px 1fr;
  background: lightgoldenrodyellow;
  overflow: scroll;
}

H2 {
  font-family: Georgia;
  height: 28px;
  margin: 20px 0px 0px;
}

.back-button {
  z-index: 2;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-style: solid;
  border-radius: 100px;
  font-size: 25px;
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

#button-div {
  padding: 7px;
}

#lineList {
  position: relative;
  margin-left: 0px;
}

#title {
  z-index: 1;
  text-align: center;
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  margin: 0;
  border-left: solid red;
  border-width:3px;
  padding-top: 13px;
  padding-bottom: 0;
}