#container {

    width: 360px;
    height: 640px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 64px 1fr;
    background: lightgoldenrodyellow;
    overflow: scroll;
}

.italics {
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

#display_lines {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

#lineList {
    position: relative;
    margin-left: 0px;
}

.checked {
    text-decoration: line-through;
}

head {
    width: 360px;
    height: 640px;
}

.disabled {
    pointer-events: none;
}

.selected {
    background: lightblue;
    z-index: 10;
}


H2 {
    font-family: Georgia;
    height: 28px;
    margin: 20px 0px 0px;
}

.lineImage {
    margin-top: -5px;
    width: 360px;
    height:22px;
    content: url("noteLine.png");
}

ul {
    position: absolute;
    top: -20px;
    left: 5px;
    list-style: none;
}

li {
    margin-left:-79px;
    width:352px;
    padding-left: 42px;
    height: 20px;
}

.select-button {
    background-color: aliceblue;
    width:10px;
    height:15px;
    border-radius: 10px;
    margin-right: 19px;
    border-style: solid;

}

.trashButton {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 580px;
    left: 10px;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    z-index: 1;
}


#title {
    z-index: 1;
    text-align: center;
    grid-row: 1/span 1;
    grid-column: 2/span 1;
    margin: 0;
    border-left: solid red;
    border-width:3px;
    padding-top: 13px;
    padding-bottom: 0;
}

.back-button {
    z-index: 2;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}

.checkboxes {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    position: relative;
    top: 2px;
}

#button-div {
    padding: 7px;
}


.textboxes {
    border-style: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    width: 289px;
    font-family: "Trebuchet MS";
    height: 14px;
    border-style: none;

}
.normal {
    background: lightgoldenrodyellow;
}

.all-lines {
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    margin: 0;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
}

#eyeButton{
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 580px;
    left: 300px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    z-index: 1;
}

.open {
    content:url("https://cdn.pixabay.com/photo/2017/06/09/18/06/eye-2387853_960_720.png");
}

.closed {
    content:url("eyeClosed.png");

}

#eye {
    width: 40px;
    height: 50px;
    position: relative;
    top: -2px;
    left: -3px;
}