#container {

    width: 360px;
    height: 640px;
    border-style: solid;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 64px 1fr;
    background: lightgoldenrodyellow;
    overflow: scroll;
}

.hidden {
    visibility: hidden;
}

#display_lines {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    /*position:relative;*/
    /*top: -200px;*/
    /*left:100px;*/
    /*padding-top: -40px;*/
}

#yo {
    position: relative;
    /*top:64px;*/
    margin-left: 0px;
}

head {
    width: 360px;
    height: 640px;
}

.disabled {
    pointer-events: none;
}


H2 {
    font-family: Georgia;
    height: 28px;
    margin: 20px 0px 0px;
}

img {
    margin-top: -5px;
    width: 360px;
    height:22px;
    content: url("noteLine.png");
}

ul {
    position: absolute;
    top: -20px;
    left: 5px;
    list-style: none;
}

li {
    /*background: lightblue;*/
    margin-left:-60px;
    width:318px;
    padding-left: 42px;
    height: 20px;
}

#select-button {
    width:10px;
    /*height:15px;*/
}

li:hover {

}

.trashButton {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 580px;
    left: 10px;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: absolute;
    z-index: 1;
}


#title {
    z-index: 1;
    text-align: center;
    grid-row: 1/span 1;
    grid-column: 2/span 1;
    margin: 0;
    border-left: solid red;
    border-width:3px;
    padding-top: 13px;
    padding-bottom: 0;
}

.back-button {
    z-index: 2;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}

.checkboxes {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

#button-div {
    padding: 7px;
}

#checkbox1 {
    margin-top: 2px;
}

.textboxes {
    /*margin-top: 4px;*/
    border-style: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    width: 274px;
    background: lightgoldenrodyellow;
    font-family: "Trebuchet MS";
    height: 14px;
    border-style: none;

}

.all-lines {
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    /*border-top: solid lightblue;border-top: solid lightblue;*/
    margin: 0;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
}