.webpages {
    display: grid;
    grid-template-columns: 450px 1fr;
}

iframe {
    padding: 30px;
    border: none;
    width: 380px;
    height: 680px;
}

p {
    margin: 30px;
    text-align: left;
}

