#container {
    width: 360px;
    height: 640px;
    border-style: solid;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
}

#title {
    background:lightsteelblue;
    grid-row: 1/span 1;
    border-color: black;
    border-bottom-style: solid;
}

H1 {
    position: fixed;
    top: 100px;
    left: 50px;
    font-family: Georgia;
}

#bottom-part{
    grid-row: 2/span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 2/span 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

#bottom-part div {
    height: 30px;
}

.notes {
    border-style: solid;
    border-radius: 7px;
    background: lightsteelblue;
    border-color: black;
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Trebuchet MS";
    font-size: 15px;
}

#settings {

    top: 20px;
    left: 20px;
    position: fixed;
    font-size: 45px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    background-color: aliceblue;
    border-style: solid;
    color: darkgray;
}

#addnotebutton {
    position: fixed;
    font-size: 25px;
    left: 310px;
    top: 590px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    background-color: aliceblue;
    border-style: solid;
}
