#container {
    width: 360px;
    height: 640px;
    border-style: solid;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 64px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: lightgoldenrodyellow;
}

H2 {
    font-family: Georgia;
}

#title {
    text-align: center;
    grid-row: 1/span all;
    grid-column: 2/span 1;
    margin: 0;
    border-left: solid red;
    padding-top: 13px;
    padding-bottom: 0;
}

.back-button {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}

.checkboxes {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

#button-div {
    padding: 7px;
}

#checkbox1 {
    margin-top: 2px;
}

.textboxes {
    margin-top: 4px;
    border-style: none;
    font-size: 15px;
    margin-left: 15px;
    width: 270px;
    background: lightgoldenrodyellow;
    font-family: "Trebuchet MS";
}

.all-lines {
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    border-top: solid lightblue;
    margin: 0;
    grid-column: 1/span 2;
}

#eyebutton {
    position: fixed;
    font-size: 25px;
    left: 310px;
    top: 590px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    background-color: aliceblue;
    border-style: solid;
}
#eye {
    width:40px;
    height:50px;
    position: relative;
    top: 4px;
}

#line1 {
    border-top: solid blue;
    grid-row: 2/span 1;
}
#line2 {
    grid-row: 3/span 1;
    background: lightblue;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}
#line3 {
    grid-row: 4/span 1;
    background: lightblue;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-color: black;
}
#line4 {
    grid-row: 5/span 1;
    border-top: none;
}
#line5 {
    grid-row: 6/span 1;
    background: lightblue;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}
#line6 {
    grid-row: 7/span 1;
    border-top: none;
}
#line7 {
    grid-row: 8/span 1;
}
#line8 {
    grid-row: 9/span 1;
}
#line9 {
    grid-row: 10/span 1;
}
#line10 {
    grid-row: 11/span 1;
}
#line11 {
    grid-row: 12/span 1;
}
#line12 {
    grid-row: 13/span 1;
}
#line13 {
    grid-row: 14/span 1;
}
#line14 {
    grid-row: 15/span 1;
}
#line15 {
    grid-row: 16/span 1;
}
#line16 {
    grid-row: 17/span 1;
}
#line17 {
    grid-row: 18/span 1;
}
#line18 {
    grid-row: 19/span 1;
}

#textbox2 {
    background: lightblue;
}

#textbox3 {
    background: lightblue;
}

#textbox5 {
    background: lightblue;
}

#textbox6 {
    font-style: italic;
}
#checkbox6 {
    visibility: hidden;
}
#textbox7 {
    visibility:hidden;
}
#checkbox7 {
    visibility: hidden;
}

#textbox8 {
    visibility: hidden;
}
#checkbox8 {
    visibility: hidden;
}

#textbox9 {
    visibility: hidden;
}

#checkbox9 {
    visibility: hidden;
}
#textbox10 {
    visibility: hidden;
}

#checkbox10 {
    visibility: hidden;
}

#textbox11 {
    visibility: hidden;
}
#checkbox11 {
    visibility: hidden;
}

#textbox12 {
    visibility: hidden;
}

#checkbox12 {
    visibility: hidden;
}

#checkbox13 {
    visibility: hidden;
}

#textbox13 {
    visibility: hidden;
}
#checkbox14 {
    visibility: hidden;
}

#textbox14 {
    visibility: hidden;
}

#checkbox15 {
    visibility: hidden;
}

#textbox15 {
    visibility: hidden;
}

#checkbox16 {
    visibility: hidden;
}

#textbox16 {
    visibility: hidden;
}
#checkbox17 {
    visibility: hidden;
}

#textbox17 {
    visibility: hidden;
}

#checkbox18 {
    visibility: hidden;
}

#textbox18 {
    visibility: hidden;
}

