#signInPage {
    background-color: lightsteelblue;
    /*position: fixed;*/
    width: 100vw;
    height: 100vh;
    /*top: 50vh;*/
    font-family: "Georgia", serif;
    /*line-height: 50%;*/
    justify-content: center;
    align-items: center;
    display: flex;
    /*grid-template-columns: 50vw 50vw;*/
    /*grid-template-rows: auto auto;*/
}

#signInBox {
    /*position: fixed;*/
    /*top: 50vh;*/
    /*left: 50vw;*/

    /*width: 300px;*/
    display: grid;
    /*row-gap: normal;*/
    height: 100%;
    /*grid-column: 1;*/
    width: 60vw;
    /*padding-left: 50px;*/
    /*padding-right: 20px;*/

}

h1 {
    margin-top: 0;
    padding-bottom: 50px;
    text-align: center;
}

#loading {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 280px;
    font-size: larger;
    font-family: "Trebuchet MS", sans-serif;
}



#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signIn {
    /*height: 100px;*/
    font-size: 25px;
}



#notesPreview {
    content:url("noteBackground.png");
    padding-left: 30px;
    /*grid-column: 2;*/
    /*grid-row: 2/span 1;*/
    display: block;
    float:left;
    height: 100%;
    width: 35vw;
    /*max-width: 40vw;*/
    overflow: hidden;
    /*width: 100%;*/
}

@media screen and (max-width: 750px) {
    #notesPreview {
        display: none;
    }
}

#authors {
    text-align: center;
}