#signInPage {
    background-color: lightsteelblue;
    width: 100vw;
    height: 100vh;
    font-family: "Georgia", serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

#signInBox {
    display: grid;
    height: 100%;
    width: 60vw;
}

h1 {
    margin-top: 0;
    padding-bottom: 50px;
    text-align: center;
}

#loading {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 280px;
    font-size: larger;
    font-family: "Trebuchet MS", sans-serif;
}



#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signIn {
    font-size: 25px;
}



#notesPreview {
    content:url("noteBackground.png");
    padding-left: 30px;
    display: block;
    float:left;
    height: 100%;
    width: 35vw;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    #notesPreview {
        display: none;
    }
}

@media screen and (max-height: 475px) {
    #loginTitle {
        display: none;
    }
}

#authors {
    text-align: center;
}

#loginTitle {
    padding-top: 50px;
}