#container {

  width: 360px;
  height: 640px;
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px 1fr;
  background: #fafad2;
  overflow: scroll;
}

H2 {
  font-family: Georgia;
  height: 28px;
  margin: 20px 0px 0px;
}

.back-button {
  z-index: 2;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-style: solid;
  border-radius: 100px;
  font-size: 25px;
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

.sort-button {
  z-index: 2;
  background-color: aliceblue;
  width: 40px;
  height: 30px;
  font-size: 30px;
  border-style: solid;
  border-radius: 100px;
  font-size: 25px;
  position: fixed;
  top: 5px;
  left: 300px;
}

#button-div {
  padding: 7px;
}

#lineList {
  position: relative;
  margin-left: 0px;
}

#title {
  z-index: 1;
  text-align: center;
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  margin: 0;
  border-left: solid red;
  border-width:3px;
  padding-top: 13px;
  padding-bottom: 0;
}

#warning {
  position: absolute;
  justify-self: center;
  text-align: center;
  z-index: 10;
  /*top: 200px;*/
  /*left:90px;*/
  background: aliceblue;
  /*line-height: 200px;*/
  padding: 20px;
  height: 200px;
  width: 200px;
  font-family: "Trebuchet MS";
  border: solid black;
  /*margin: 0;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);*/
  transform: translateY(50%);
  border: solid gray;
}

#back{
  position: absolute;
  top: 0px;
  left:0px;
  width:360px;
  height:640px;
  background: gray;
  opacity: 50%;
  z-index: 9;
}

#deleteText {
  color: red;
}

#warningButtons {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#yes {
  /*position: relative;*/
  /*top:20px;*/
  /*left:100px;*/
  margin-top: 25px;
  background: red;
  color: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#no {
  /*position: relative;*/
  /*top:20px;*/
  /*left:-50px;*/
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityMessage {
  margin-bottom: 20px;
}

#priorityZero {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityOne {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityTwo {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityThree {
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#creationDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#creationAscButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#textDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#textAscButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityAscButton {
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#loadingScreen {
  background: yellow;
}