.checkboxes {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    position: relative;
    top: 12px;
    z-index: 4;
}

.textboxes {
    border-style: none;
    font-size: 18px;
    /*margin: 0px 0px 0px 20px;*/
    width: 99%;
    /*width: 100%;*/
    height: auto;
    font-family: "Trebuchet MS";
    border-style: none;

}

#textboxDiv {
    position: relative;
    /*display-in;*/
    height:20px;
    width: auto;
    padding-left: 80px;
    margin: 0 0 0 0px;
    top: -10px;

}

.select-button {
    position: relative;
    background-color: aliceblue;
    width:15px;
    height:15px;
    top: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 19px;
    border-style: solid;
    padding: 1px;
    font-size: x-small;
    z-index: 4;
}

.selectButtonText {
    position: relative;
    top: -1px;
}

.italics {
    font-style: italic;
}

.checked {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}

.selected {
    background: lightblue;
    z-index: 3;
}

.normal {
    background: lightgoldenrodyellow;
}

li {
    /* position: absolute; */
    margin-left: -39px;
    /*margin-right: px;*/
    width: 100%;
    padding-left: 39px;
    /* height: 20px; */
    background: lightgoldenrodyellow;
    border-top: solid cornflowerblue;
    border-width: 2px;
}


