.checkboxes {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    position: relative;
    top: 12px;
    z-index: 4;
}

.textboxes {
    border-style: none;
    font-size: 12px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    /*width: 85%;*/
    width: 85%;
    height: auto;
    font-family: "Trebuchet MS";
    height: 14px;
    border-style: none;

}

.select-button {
    position: relative;
    background-color: aliceblue;
    width:15px;
    height:15px;
    top: 10px;
    border-radius: 10px;
    margin-right: 19px;
    border-style: solid;
    padding: 1px;
    font-size: x-small;
}

.selectButtonText {
    position: relative;
    top: -1px;
}

.italics {
    font-style: italic;
}

.checked {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}

.selected {
    background: lightblue;
    z-index: 10;
}

.normal {
    background: lightgoldenrodyellow;
}

li {
    margin-left:-79px;
    width: 100%;
    padding-left: 42px;
    height: 20px;
}


