ul {
    /*position: absolute;*/
    margin:0;
    padding: 0;
    /*top: -20px;*/
    left: 5px;
    list-style: none inside;
    /*overflow: hidden;*/
    z-index: 4;
    width:100vw;
    border-bottom: cornflowerblue;
    border-width: 2px;
}

#data_list {
    z-index: 4;
}

#eye {
    width: 40px;
    height: 50px;
    position: relative;
    top: -2px;
    left: -3px;
}



#display_lines {
    z-index: 1;
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    width: 100%;
    height: 100%;
}

#eyeButton{
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 99%;
    left:99%;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 5;
}

#lower-left-buttons{
    height:auto;
    width: auto;
}

.trashButton {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 92%;
    left: 10px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    /*margin-top: -50px;*/
    z-index: 5;
}
.priority {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    top: 83%;
    left: 10px;
    border-style: solid;
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    z-index: 5;
}

.open {
    content:url("https://cdn.pixabay.com/photo/2017/06/09/18/06/eye-2387853_960_720.png");
}

.closed {
    content:url("eyeClosed.png");
}

/*.lineImage {*/
/*    margin-top: -5px;*/
/*    margin-bottom: 0;*/
/*    !*margin-left: -220px;*!*/
/*    width: 100%;*/
/*    !*max-width: 100%;*!*/
/*    height: 3vmin;*/
/*    !*content: url("noteLine.png");*!*/
/*    z-index: 1;*/
/*    !*border: thin solid cornflowerblue;*!*/
/*    !*background-image: url("noteLine.png");*!*/
/*}*/
