#container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px auto 1fr;
  background: #fafad2;
  overflow: scroll;
  z-index: 0;
}

H2 {
  font-family: Georgia;
  height: 28px;
  margin: 0px 0px 0px;
  position: relative;
  right:0px;
  padding-left: 10%;
  padding-right: 10%;
  align-self: stretch;
  /*z-index: 101;*/
  /*grid-row: 1/span 1;*/
  /*grid-column: 2/span 1;*/
  /*justify-content: space-between;*/

  /*top: -20px;*/
  /*left: 40%;*/
}

.back-button {
  z-index: 5;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-style: solid;
  border-radius: 100px;
  font-size: 25px;
}

.sort-button {
  z-index: 5;
  background-color: aliceblue;
  width: 50px;
  height: 40px;
  /*font-size: 15px;*/
  border-style: solid;
  border-radius: 100px;
  /*font-size: 25px;*/
  position: absolute;
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  top: 18px;
  left:99%;

  /*margin-top: 20px;*/
  margin-left: -50px;


  /*top: 17px;*/
  /*left: 240px;*/
}

#sortArrow{
  position: relative;
  left: -10px;
  top: -3px;
  font-size: 30px;
  pointer-events: none;
}

#sortText{
  height: auto;
  width:20px;
  font-size: 15px;
  position: relative;
  left: 13px;
  top: -35px;
  font-family: "Trebuchet MS";
}

#sortDate{
  height: auto;
  width: auto;
  font-size: 11px;
  position: relative;
  left: 7px;
  top: -35px;
  font-family: "Trebuchet MS";
  padding: 0;
  margin: 0;
}

#date1{
  position: relative;
  top: 3px;
  padding: 0;
  margin:0;
}

#date2{
  position: relative;
  top:8px;
  padding:0;
  margin:0;
}

#button-div {
  padding: 7px;
}


#lineList {
  /*position: relative;*/
  margin-left: 0px;
  grid-column: 1/span 2;
  grid-row: 2/span 1;
}

#title {
  z-index: 3;
  text-align: center;
  grid-row: 1/span all;
  grid-column: 2/span 1;
  margin: 0;
  border-left: solid red;
  border-width:3px;
  padding-top: 13px;
  padding-bottom: 0;
  pointer-events: none;

}

#warning {
  position: fixed;
  top: 50%;
  left: 50%;

  /*justify-self: center;*/
  text-align: center;
  z-index: 7;
  /*top: 50%;*/
  /*left: 50%;*/
  background: aliceblue;
  /*line-height: 200px;*/
  padding: 20px;
  /*margin-top: 50px;*/
  margin-top: -100px;
  margin-left: -100px;
  height: 200px;
  width: 200px;
  font-family: "Trebuchet MS";
  border: solid black;
  /*margin: 0;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  border: solid gray;
}

#back{
  position: absolute;
  top: 0px;
  left:0px;
  width:100%;
  height:100%;
  background: gray;
  opacity: 50%;
  z-index: 6;
}

#deleteText {
  color: red;
}

#warningButtons {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#yes {
  /*position: relative;*/
  /*top:20px;*/
  /*left:100px;*/
  margin-top: 25px;
  background: red;
  color: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#no {
  /*position: relative;*/
  /*top:20px;*/
  /*left:-50px;*/
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityMessage {
  margin-bottom: 20px;
}

#priorityZero {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityOne {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityTwo {
  margin-bottom: 10px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#priorityThree {
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#creationDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#creationAscButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#textDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#textAscButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityDescButton {
  margin-bottom: 5px;
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}

#priorityAscButton {
  background: white;
  border: 2px solid gray;
  font-family: "Trebuchet MS";
  cursor: default;
  border-radius: 5px;
}
#loadingScreen {
  background: lightgoldenrodyellow;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 280px;
  font-size: larger;
  font-family: "Trebuchet MS";
}

.sort-button-display{
  height: 35px;
}

.line{
  /* position: absolute; */
  margin-left: -39px;
  /*margin-right: px;*/
  width: 100%;
  padding-left: 39px;
  /* height: 20px; */
  background: lightgoldenrodyellow;
  border-top: solid cornflowerblue;
  border-width: 2px;
}

.textboxes {
  border-style: none;
  font-size: 18px;
  /*margin: 0px 0px 0px 20px;*/
  width: 99%;
  /*width: 100%;*/
  height: auto;
  font-family: "Trebuchet MS";
  border-style: none;

}

#textboxDiv {
  position: relative;
  /*display-in;*/
  height:20px;
  width: auto;
  padding-left: 80px;
  margin: 0 0 0 0px;
  top: -10px;

}

#button-div2{
  padding: 7px;
}

#line-button{
  z-index: 5;
  background-color: aliceblue;
  font-size: 30px;
  border-style: solid;
  border-radius: 100px;
  font-size: 25px;
}


.inactiveText {
  position: relative;
  z-index: 100;
  top: -10px;
  /*padding-left: 10%;*/
  width: auto;
  pointer-events:none;
  font-family: "Trebuchet MS";
  font-size: 18px;
  font-style: italic;
}

.activeText{
  position: relative;
  z-index: -10;
  top: -100%;
  left: 10%;
  display: none;
  color:lightgoldenrodyellow;
  pointer-events:none;
  font-style: italic;
}

#tempTapLine{
  position: relative;
  z-index: 100;
  width:99%;
  height:20px;
  top:10px;
  margin: 0;
  padding: 0;
  background: lightgoldenrodyellow;
  border-width: 0;
  font-family: "Trebuchet MS";
  font-size: 18px;
  /*border: ;*/
  /*border-bottom: solid cornflowerblue*/
}

.tempTapClass:hover{
  /*background: red;*/
}

.tempTapClass:focus{
  /*background: red;*/
}

#tapLine{
  grid-row: 3/span 1;
  grid-column: 2/span all;
  width:auto;
  height:40px;
  z-index: 102;
  /*width: 99%;*/
  border-bottom: solid cornflowerblue;
  border-width: 2px;
  margin: 0;
  padding: 0 0 0 80px;


}

#top {
  position:relative;
  grid-row: 1/span 1;
  grid-column: 1/span all;
  width:100%;
  height:64px;
  border-bottom: solid cornflowerblue;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  /*align-items: center;*/
  /*justify-items: center;*/
  /*align-content: center;*/
  z-index: 6;
  /*background: lightgoldenrodyellow;*/
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bottom {
  grid-row: 3/span 1;
  grid-column: 1/span all;
  /*padding-left: 64px;*/
}

#endList {
  grid-row: 3/span 1;
  grid-column: 1/span 2;
  list-style: none;
  z-index: 2;
}

#endList li {
  height: 40px;
  margin: 0;
}

.empty {
  padding: 0;
}