#googleLogo {
    width: 30px;
}

.clickedBigButton {
    font-family: "Trebuchet MS", sans-serif;
    border-radius: 10px;
    border: solid black;
    background: red;
    color: white;
    text-align: center;
    font-size: 25px;

}

.bigButtons {
    font-family: "Trebuchet MS", sans-serif;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#signUpButton{
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

#forgotPassDiv{
    text-align: center;
}

#forgotPass{
    background-color: lightsteelblue;
    border: none;
    color: blue;
}

.loginError {
    color: red
}

#forgotWarning {
    font-size: 25px;
    padding-bottom: 20px;
}

#emailBox {
    margin-bottom: 30px;
}

#email {
    font-size: 22px;
}

#password {
    font-size: 22px;
}

#buttonGrid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto 200px;
}

#signInButton {
    grid-row: 1;
    grid-column: 1;
    text-align: right;

}

#buttonInfo {
    grid-row: 2;
    grid-column: 1/span 2;
}

#googleButton {
    text-align: center;
    margin-top: 50px;
}

.loginLine {
    text-align: center;
}

#spacingDiv {
    height: 19px;
}

#logInButton{
    width: 107px;
}

#registerButton{
    width: 107px;
}

@media screen and (max-height: 475px) {
    #authors {
        display: none;
    }
}
